{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
askme
{% endblock %}
<head>
    {% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='costume.css')}}">
    {% endblock %}
</head>


{% block content %}
<body class="container" id="general" style="margin-top:50px;">
<div class="fixed">
    {% include 'nav.html' %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="form-signin" method="POST" action="/askme" style="margin-top: 10%;" enctype="multipart/form-data">
                <h2 class="form-signin-heading">Ask me</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.content) }}
                <input type="file" class="custom-file-input" id="customFile" name="file" enctype="multipart/form-data">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ask me</button>
            </form>
            </div>
    </div>
</div> <!-- /container -->
</body>
{% endblock %}